#
# DON'T EDIT THIS FILE :: GENERATED WITH CONFD
#

jmxUrl: {{getv "/java/agent/prom-jmx-exporter/jmxUrl" "service:jmx:rmi:///jndi/rmi://127.0.0.1:1299/karaf-minion"}}
username: {{getv "/java/agent/prom-jmx-exporter/username" "admin"}}
password: {{getv "/java/agent/prom-jmx-exporter/password" "admin"}}
lowercaseOutputName: {{getv "/java/agent/prom-jmx-exporter/lowerCaseOutputName" "true"}}
lowercaseOutputLabelNames: {{getv "/java/agent/prom-jmx-exporter/lowercaseOutputLabelNames" "true"}}
whitelistObjectNames: 
- "org.opennms.core.ipc.sink.producer:*"
- "org.opennms.netmgt.dnsresolver.netty:*"
- "org.opennms.netmgt.telemetry:*"

rules:
- pattern: org\.opennms\..+\.(.+)<name=(.+)><>Value
  name: minion_$1_$2
  type: GAUGE

- pattern: org\.opennms\..+\.(.+)<name=(.+)><>Count
  name: minion_$1_$2_count
  type: COUNTER

- pattern: org\.opennms\..+\.(.+)<name=(.+)><>(\d+)thPercentile
  name: minion_$1_$2
  type: GAUGE
  labels:
    quantile: "0.$3"
